In [2]:
my_ary = [0, 2, 345, 654,8, 10]
maxx=0
for i in range(len(my_ary)):
    if maxx < my_ary[i]:
        maxx =my_ary[i]
maxx

654

In [11]:
new_ary =[]
for i in range(10):
    new_ary.append(i*i)
   #new_ary[i]= i*i
print(new_ary)
for i in range(10):
    new_ary[i]=i 
    
print(new_ary)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
ary2=[i for i in range(20)]
for i in range(20):
    ary2[i] =i*i

print(ary2)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [22]:
ary2d=[[123, 124], [234, 235]]
print(ary2d)

[[123, 124], [234, 235]]

In [27]:
print(ary2d[0])
print(ary2d[0][0])
print(ary2d[0][1])

[123, 124]
123
124

In [28]:
print(ary2d[1])
print(ary2d[1][0])
print(ary2d[1][1])

[234, 235]
234
235

In [29]:
ary2d[0][0]=54
print(ary2d)

[[54, 124], [234, 235]]

In [30]:
print(len(ary2d))

2

In [33]:
ary3=[[[i*2 for i in range(5)],[]],[j for j in range(10)]]
print(ary3)

[[[0, 2, 4, 6, 8], []], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]

In [34]:
print(ary3[0])
print(ary3[1])

[[0, 2, 4, 6, 8], []]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
print(len(ary3))

2

In [43]:
ary4=[[2 for i in range(5)] for j in range(2)]
ary5=[2 for j in range(5)]
ary6=[[[2 for i in range(5)] for j in range(2)] for k in range(2)]
print(ary5)
print(ary4)
print(len(ary4))
print (ary6)

[2, 2, 2, 2, 2]
[[2, 2, 2, 2, 2], [2, 2, 2, 2, 2]]
2
[[[2, 2, 2, 2, 2], [2, 2, 2, 2, 2]], [[2, 2, 2, 2, 2], [2, 2, 2, 2, 2]]]